@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary-md {
    @apply bg-blue-500;
  }

  .bg-secondary-md {
    @apply bg-blue-500/50;
  }

  .bg-primary {
    @apply bg-blue-400/90;
  }

  .bg-secondary {
    @apply bg-blue-500/80;
  }

  .border-primary {
    @apply border-2 border-gray-700 rounded-md;
  }

  .button-primary {
    @apply px-4 py-2 my-2 mx-auto w-auto rounded-md text-xl font-semibold boton-transparente cursor-pointer;
  }

  .button-secondary {
    @apply px-4 m-2 py-2 rounded-md text-xl font-semibold boton-transparente cursor-pointer;
  }

}

.spin-slow {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.animacion-in {
  animation-name: zoom-in;
  animation-duration: 0.6s;
}

@keyframes zoom-in {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.animacion-out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@keyframes zoom-out {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(0)
  }
}

body {
  background-color: rgb(15, 23, 42);
}

.boton-transparente {
  background-color: rgba(29, 78, 216, 0.45)
}

.boton-transparente:hover {
  background-color: rgba(29, 78, 216, 0.75)
}

.boton-transparente:active {
  background-color: rgba(83, 111, 188, 0.95)
}

.active img {
  border-color: rgb(177, 134, 7);
}

.active img:hover {
  border-color: rgb(235, 191, 19);
}

.disabled {
  opacity: 0.5;
}

.loader {
  margin: 100px auto;
  font-size: 20px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-sm{
  font-size: 10px;
}

@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3425a7, 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.5), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.7), 1.8em -1.8em 0 0em #3425a7, 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.5), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.7), 2.5em 0em 0 0em #3425a7, 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.5), 2.5em 0em 0 0em rgba(52, 37, 167, 0.7), 1.75em 1.75em 0 0em #3425a7, 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.5), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.7), 0em 2.5em 0 0em #3425a7, -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.5), 0em 2.5em 0 0em rgba(52, 37, 167, 0.7), -1.8em 1.8em 0 0em #3425a7, -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.5), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.7), -2.6em 0em 0 0em #3425a7, -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.5), -2.6em 0em 0 0em rgba(52, 37, 167, 0.7), -1.8em -1.8em 0 0em #3425a7;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3425a7, 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.5), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.7), 1.8em -1.8em 0 0em #3425a7, 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.5), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.7), 2.5em 0em 0 0em #3425a7, 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.5), 2.5em 0em 0 0em rgba(52, 37, 167, 0.7), 1.75em 1.75em 0 0em #3425a7, 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.5), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.7), 0em 2.5em 0 0em #3425a7, -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.2), -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.5), 0em 2.5em 0 0em rgba(52, 37, 167, 0.7), -1.8em 1.8em 0 0em #3425a7, -2.6em 0em 0 0em rgba(52, 37, 167, 0.2), -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.5), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.7), -2.6em 0em 0 0em #3425a7, -1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(52, 37, 167, 0.2), 1.8em -1.8em 0 0em rgba(52, 37, 167, 0.2), 2.5em 0em 0 0em rgba(52, 37, 167, 0.2), 1.75em 1.75em 0 0em rgba(52, 37, 167, 0.2), 0em 2.5em 0 0em rgba(52, 37, 167, 0.2), -1.8em 1.8em 0 0em rgba(52, 37, 167, 0.5), -2.6em 0em 0 0em rgba(52, 37, 167, 0.7), -1.8em -1.8em 0 0em #3425a7;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}